<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, note, class: :data %></td>
        <td><%= distance_of_time_in_words(note.created_at, Time.zone.now) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
