<ul>
  <% sections.each do |section| %>
    <li>
      <%= link_to section.name, section, class: :data %>
      <% if  section.notes.count > 0 %>
        <span>(<%= section.notes.count %>)</span>
      <% end %>
      <%= render 'sections/list', sections: section.children unless section.children.empty?%>
    </li>
  <% end %>
</ul>
