<h1>Editing Section</h1>

<%= link_to 'Show', @section, class: "btn btn-sm btn-outline-primary" %>
<%= link_to 'Back', @section.parent || root_path, class: "btn btn-sm btn-outline-primary" %>

<%= render 'form', section: @section, options: { edit_parent: true } %>
