<h1>Notebook</h1>

<p>
  <%= link_to current_user.email, edit_user_registration_path %> |
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</p>

<p>
  <input id="key" type="text" placeholder="key"/>
  <button id="show_key">Show</button>
</p>

<p><%= link_to 'New Section', new_section_path %></p>

<%= render 'sections/list', sections: @sections %>
